<h1>Edit article</h1>

<%= form_with(model: @article, local: true) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title, required: true %><br>

  <%= form.label :content %>
  <%= form.text_area :content, required: true %><br>

  <%= form.submit %>
<% end %>

<%= link_to 'Cancel', article_path(@article) %>
